In [2]:
import numpy as np
import pandas as pd
import os

import tensorflow as tf
import tensorflow_decision_forests as tfdf

print(f"Found TF-DF {tfdf.__version__}")


train_df = pd.read_csv("/kaggle/input/titanic/train.csv")
serving_df = pd.read_csv("/kaggle/input/titanic/test.csv")

train_df.head(10)

Found TF-DF 1.5.0

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

看看数据长什么样，
然后有3个函数

1. 一个规则化name
2.

In [3]:
def preprocess(df):
    df = df.copy()
    
    def normalize_name(x):
        return " ".join([v.strip(",()[].\"'") for v in x.split(" ")])
    
    def ticket_number(x):
        return x.split(" ")[-1]
        
    def ticket_item(x):
        items = x.split(" ")
        if len(items) == 1:
            return "NONE"
        return "_".join(items[0:-1])
    
    df["Name"] = df["Name"].apply(normalize_name)
    df["Ticket_number"] = df["Ticket"].apply(ticket_number)
    df["Ticket_item"] = df["Ticket"].apply(ticket_item)                     
    return df
    
preprocessed_train_df = preprocess(train_df)
preprocessed_serving_df = preprocess(serving_df)

preprocessed_train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE

去掉一些对于模型的想法的不必要内容
买什么票和分给他的id和生还，与否先不管。
是train的数据集

In [4]:
input_features = list(preprocessed_train_df.columns)
input_features.remove("Ticket")
input_features.remove("PassengerId")
input_features.remove("Survived")
#input_features.remove("Ticket_number")

print(f"Input features: {input_features}")

Input features: ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked', 'Ticket_number', 'Ticket_item']

那么现在是主要探究，（一些名称不知道是什么😓）

pd呢，做了一些普通的数学，现在把数据放入tf试试

In [5]:
# 现在我这个就看得懂，tokenize嘛，以前怎么看都不懂
def tokenize_names(features, labels=None):
    """Divite the names into tokens. TF-DF can consume text tokens natively."""
    features["Name"] =  tf.strings.split(features["Name"])
    return features, labels

train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_train_df,label="Survived").map(tokenize_names)
serving_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_serving_df).map(tokenize_names)

上面这个开始魔了，features我们类比为x， label是标签作结果为y。

然后这里是一个特别的地方是 tf 自己的strings split，我称为他作信息量化，把数据中名字token化。

后面两句，为什么pd的dataframe不能和tf的dataset一样名字的概念啊

train_ds 用于模型训练，而 serving_ds 可能用于模型的推理或评估

下面， 我服了，无端端搞个梯度增压（瞎搞名字）模型，我理解为一群羊来到了一个树林，全部赶进去，羊崽们自己爱怎么走就怎么走，可能跟地形，风景啊相关，不过我们看看最终结果就可以了。

In [6]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0, # Very few logs
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True, # Only use the features in "features"
    random_seed=1234,
)
model.fit(train_ds)

self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss:{self_evaluation.loss}")

[WARNING 23-11-24 05:39:38.7010 UTC gradient_boosted_trees.cc:1818] "goss_alpha" set but "sampling_method" not equal to "GOSS".
[WARNING 23-11-24 05:39:38.7013 UTC gradient_boosted_trees.cc:1829] "goss_beta" set but "sampling_method" not equal to "GOSS".
[WARNING 23-11-24 05:39:38.7015 UTC gradient_boosted_trees.cc:1843] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".
[INFO 23-11-24 05:39:46.6522 UTC kernel.cc:1243] Loading model from path /tmp/tmpx36uq8r5/model/ with prefix 868abcce98ab4439
[INFO 23-11-24 05:39:46.6649 UTC abstract_model.cc:1311] Engine "GradientBoostedTreesQuickScorerExtended" built
[INFO 23-11-24 05:39:46.6651 UTC kernel.cc:1075] Use fast generic engine

WARNING: AutoGraph could not transform <function simple_ml_inference_op_with_handle at 0x7eb660db9c60> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
Accuracy: 0.8260869383811951 Loss:0.8608942627906799

下面的是加了很多参数去试试

In [7]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0, # Very few logs
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True, # Only use the features in "features"
    
    #num_trees=2000,
    
    # Only for GBT.
    # A bit slower, but great to understand the model.
    # compute_permutation_variable_importance=True,
    
    # Change the default hyper-parameters
    # hyperparameter_template="benchmark_rank1@v1",
    
    #num_trees=1000,
    #tuner=tuner
    
    min_examples=1,
    categorical_algorithm="RANDOM",
    #max_depth=4,
    shrinkage=0.05,
    #num_candidate_attributes_ratio=0.2,
    split_axis="SPARSE_OBLIQUE",
    sparse_oblique_normalization="MIN_MAX",
    sparse_oblique_num_projections_exponent=2.0,
    num_trees=2000,
    #validation_ratio=0.0,
    random_seed=1234,
    
)
model.fit(train_ds)

self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss:{self_evaluation.loss}")

[WARNING 23-11-24 05:39:50.6620 UTC gradient_boosted_trees.cc:1818] "goss_alpha" set but "sampling_method" not equal to "GOSS".
[WARNING 23-11-24 05:39:50.6620 UTC gradient_boosted_trees.cc:1829] "goss_beta" set but "sampling_method" not equal to "GOSS".
[WARNING 23-11-24 05:39:50.6620 UTC gradient_boosted_trees.cc:1843] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".
[INFO 23-11-24 05:39:51.8727 UTC kernel.cc:1243] Loading model from path /tmp/tmphzz3l8y8/model/ with prefix 489d63b5a3e14783
[INFO 23-11-24 05:39:51.8836 UTC decision_forest.cc:660] Model loaded with 42 root(s), 2212 node(s), and 10 input feature(s).
[INFO 23-11-24 05:39:51.8838 UTC kernel.cc:1075] Use fast generic engine

Accuracy: 0.782608687877655 Loss:1.060815453529358

下面看看情况

In [8]:
model.summary()

Model: "gradient_boosted_trees_model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.597073 ################
    2.           "Age"  0.363764 #######
    3.          "Fare"  0.264018 ###
    4.          "Name"  0.207843 #
    5.        "Pclass"  0.178906
    6. "Ticket_number"  0.178488
    7.   "Ticket_item"  0.177907
    8.      "Embarked"  0.177237
    9.         "Parch"  0.175481
   10.         "SibSp"  0.171800

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 36.000000 ################
    2. "Name"  6.000000

Variable Importance: NUM_NODES:
    1.           "Age" 530.000000 ################
    2.          "Fare" 311.000000 #########
    3.          "Name" 66.000000 #
    4.   "Ticket_item" 50.000000 #
    5.           "Sex" 42.000000 #
    6.         "Parch" 26.000000
    7. "Ticket_number" 21.000000
    8.        "Pclass" 17.000000
    9.      "Embarked" 16.000000
   10.         "SibSp"  6.000000

Variable Importance: SUM_SCORE:
    1.           "Sex" 484.272240 ################
    2.           "Age" 393.999352 #############
    3.          "Fare" 323.250985 ##########
    4.          "Name" 105.330212 ###
    5.        "Pclass" 26.851849
    6.   "Ticket_item" 25.837695
    7. "Ticket_number" 17.652836
    8.      "Embarked"  9.217001
    9.         "Parch"  7.010211
   10.         "SibSp"  0.574055



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 1.06082
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 42
Total number of nodes: 2212

Number of nodes by tree:
Count: 42 Average: 52.6667 StdDev: 4.47036
Min: 41 Max: 63 Ignored: 0
----------------------------------------------
[ 41, 42)  2   4.76%   4.76% ##
[ 42, 43)  0   0.00%   4.76%
[ 43, 44)  0   0.00%   4.76%
[ 44, 45)  0   0.00%   4.76%
[ 45, 46)  1   2.38%   7.14% #
[ 46, 47)  0   0.00%   7.14%
[ 47, 49)  2   4.76%  11.90% ##
[ 49, 50)  5  11.90%  23.81% ####
[ 50, 51)  0   0.00%  23.81%
[ 51, 52)  4   9.52%  33.33% ###
[ 52, 53)  0   0.00%  33.33%
[ 53, 54) 13  30.95%  64.29% ##########
[ 54, 55)  0   0.00%  64.29%
[ 55, 57)  9  21.43%  85.71% #######
[ 57, 58)  1   2.38%  88.10% #
[ 58, 59)  0   0.00%  88.10%
[ 59, 60)  3   7.14%  95.24% ##
[ 60, 61)  0   0.00%  95.24%
[ 61, 62)  1   2.38%  97.62% #
[ 62, 63]  1   2.38% 100.00% #

Depth by leafs:
Count: 1127 Average: 4.8465 StdDev: 0.454147
Min: 2 Max: 5 Ignored: 0
----------------------------------------------
[ 2, 3)   1   0.09%   0.09%
[ 3, 4)  40   3.55%   3.64%
[ 4, 5)  90   7.99%  11.62% #
[ 5, 5] 996  88.38% 100.00% ##########

Number of training obs by leaf:
Count: 1127 Average: 29.7764 StdDev: 71.9364
Min: 1 Max: 467 Ignored: 0
----------------------------------------------
[   1,  24) 884  78.44%  78.44% ##########
[  24,  47)  79   7.01%  85.45% #
[  47,  71)  44   3.90%  89.35%
[  71,  94)  19   1.69%  91.04%
[  94, 117)  13   1.15%  92.19%
[ 117, 141)  15   1.33%  93.52%
[ 141, 164)  24   2.13%  95.65%
[ 164, 187)   6   0.53%  96.18%
[ 187, 211)   4   0.35%  96.54%
[ 211, 234)   1   0.09%  96.63%
[ 234, 257)   1   0.09%  96.72%
[ 257, 281)   3   0.27%  96.98%
[ 281, 304)   2   0.18%  97.16%
[ 304, 327)   2   0.18%  97.34%
[ 327, 351)   2   0.18%  97.52%
[ 351, 374)  11   0.98%  98.49%
[ 374, 397)   5   0.44%  98.94%
[ 397, 421)   9   0.80%  99.73%
[ 421, 444)   1   0.09%  99.82%
[ 444, 467]   2   0.18% 100.00%

Attribute in nodes:
	530 : Age [NUMERICAL]
	311 : Fare [NUMERICAL]
	66 : Name [CATEGORICAL_SET]
	50 : Ticket_item [CATEGORICAL]
	42 : Sex [CATEGORICAL]
	26 : Parch [NUMERICAL]
	21 : Ticket_number [CATEGORICAL]
	17 : Pclass [NUMERICAL]
	16 : Embarked [CATEGORICAL]
	6 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	36 : Sex [CATEGORICAL]
	6 : Name [CATEGORICAL_SET]

Attribute in nodes with depth <= 1:
	50 : Age [NUMERICAL]
	36 : Sex [CATEGORICAL]
	26 : Fare [NUMERICAL]
	7 : Name [CATEGORICAL_SET]
	5 : Pclass [NUMERICAL]
	2 : Ticket_number [CATEGORICAL]

Attribute in nodes with depth <= 2:
	130 : Age [NUMERICAL]
	76 : Fare [NUMERICAL]
	36 : Sex [CATEGORICAL]
	19 : Name [CATEGORICAL_SET]
	8 : Ticket_number [CATEGORICAL]
	7 : Embarked [CATEGORICAL]
	6 : Pclass [NUMERICAL]
	6 : Parch [NUMERICAL]
	5 : Ticket_item [CATEGORICAL]

Attribute in nodes with depth <= 3:
	270 : Age [NUMERICAL]
	173 : Fare [NUMERICAL]
	39 : Name [CATEGORICAL_SET]
	38 : Sex [CATEGORICAL]
	18 : Ticket_item [CATEGORICAL]
	13 : Ticket_number [CATEGORICAL]
	12 : Parch [NUMERICAL]
	12 : Embarked [CATEGORICAL]
	9 : Pclass [NUMERICAL]
	3 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 5:
	530 : Age [NUMERICAL]
	311 : Fare [NUMERICAL]
	66 : Name [CATEGORICAL_SET]
	50 : Ticket_item [CATEGORICAL]
	42 : Sex [CATEGORICAL]
	26 : Parch [NUMERICAL]
	21 : Ticket_number [CATEGORICAL]
	17 : Pclass [NUMERICAL]
	16 : Embarked [CATEGORICAL]
	6 : SibSp [NUMERICAL]

Condition type in nodes:
	890 : ObliqueCondition
	145 : ContainsBitmapCondition
	50 : ContainsCondition
Condition type in nodes with depth <= 0:
	40 : ContainsBitmapCondition
	2 : ContainsCondition
Condition type in nodes with depth <= 1:
	81 : ObliqueCondition
	43 : ContainsBitmapCondition
	2 : ContainsCondition
Condition type in nodes with depth <= 2:
	218 : ObliqueCondition
	62 : ContainsBitmapCondition
	13 : ContainsCondition
Condition type in nodes with depth <= 3:
	467 : ObliqueCondition
	89 : ContainsBitmapCondition
	31 : ContainsCondition
Condition type in nodes with depth <= 5:
	890 : ObliqueCondition
	145 : ContainsBitmapCondition
	50 : ContainsCondition

Training logs:
Number of iteration to final model: 42
	Iter:1 train-loss:1.264594 valid-loss:1.360749  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.210623 valid-loss:1.320363  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.160657 valid-loss:1.281972  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:4 train-loss:1.116982 valid-loss:1.250548  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:5 train-loss:1.075170 valid-loss:1.221467  train-accuracy:0.807259 valid-accuracy:0.760870
	Iter:6 train-loss:1.035656 valid-loss:1.199482  train-accuracy:0.822278 valid-accuracy:0.760870
	Iter:16 train-loss:0.787670 valid-loss:1.088161  train-accuracy:0.903630 valid-accuracy:0.771739
	Iter:26 train-loss:0.648139 valid-loss:1.066864  train-accuracy:0.921151 valid-accuracy:0.782609
	Iter:36 train-loss:0.559101 valid-loss:1.068122  train-accuracy:0.921151 valid-accuracy:0.782609
	Iter:46 train-loss:0.496837 valid-loss:1.064204  train-accuracy:0.929912 valid-accuracy:0.771739
	Iter:56 train-loss:0.451017 valid-loss:1.083011  train-accuracy:0.941176 valid-accuracy:0.771739
	Iter:66 train-loss:0.415965 valid-loss:1.105307  train-accuracy:0.946183 valid-accuracy:0.771739